$gray-300: #dee2e6;
$grid-columns: 10;
$grid-gutter-width: 1.75rem;
$container-max-widths: (
  xl: 1100px
);

$font-family-base: Roboto;
$primary: #1babf9;
$black: #282828;
$btn-padding-x: 1em;
$btn-border-radius: 0;
$btn-focus-width: 0;
$btn-line-height: 1em;
$font-color-base: $black;

$input-padding-y: 1.125rem;
$input-padding-x: 1rem;
$input-border-radius: 0;
